.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0;
}
.calibre2 {
  height: 1188px;
  width: 918px;
}
.calibre3 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre4 {
  font-size: 1.41176em;
  line-height: 1.2;
}
.calibre5 {
  display: block;
}
.calibre6 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre7 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre8 {
  font-style: italic;
}
.calibre9 {
  font-size: 0.75em;
}
.calibre10 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre11 {
  font-size: 2em;
  line-height: 1.2;
}
.calibre12 {
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre13 {
  height: 70px;
  width: 344px;
}
.calibre14 {
  font-weight: bold;
}
.calibre15 {
  display: block;
  margin: 1em 0 1em 2em;
}
.calibre16 {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.calibre17 {
  font-style: italic;
  line-height: 1.2;
}
.calibre18 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre19 {
  float: right;
}
