.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.calibre3 {
    display: block;
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU";
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre4 {
    display: block
    }
.chapter_heading {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.8em 0 1.7em
    }
.chapter_heading1 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.8em 0 1.7em
    }
.chapter_heading2 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1.8em 0 1.7em
    }
.cn_color {
    color: #06F
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.6em;
    text-align: justify;
    margin: 1em 0
    }
.kindle-cn-copyright-text1 {
    display: block;
    line-height: 1.6em;
    margin: 1em 0
    }
.kindle-cn-copyright-title {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-left-style: none;
    border-left-width: 1.5px;
    border-right-style: none;
    border-right-width: 1.5px;
    border-top-style: none;
    border-top-width: 1.5px;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em 0
    }
.p_center {
    color: #7F5217;
    display: block;
    letter-spacing: 0.1em;
    line-break: strict;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 0.8em
    }
.p_normal {
    display: block;
    letter-spacing: 0.1em;
    line-break: strict;
    line-height: 1.5em;
    text-indent: 0;
    margin: 0.8em
    }
.p_normal_ {
    color: #7F5217;
    display: block;
    font-family: "標楷體", "DFKai-sb";
    letter-spacing: 0.1em;
    line-break: strict;
    line-height: 1.3em;
    text-indent: 0;
    margin: 0.8em 1.5em
    }
.p_normal_1 {
    display: block;
    letter-spacing: 0.1em;
    line-break: strict;
    line-height: 1.6em;
    text-indent: 0;
    margin: 0.8em 1.8em
    }
.p_normal_2 {
    color: #7F5217;
    font-family: "標楷體", "DFKai-sb"
    }
.p_normal_3 {
    display: block;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-break: strict;
    line-height: 1.5em;
    text-indent: 0;
    margin: 0.8em
    }
.p_normal_4 {
    color: #7F5217;
    font-family: "標楷體", "DFKai-sb";
    letter-spacing: 0.1em;
    line-height: 1.3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-indent: 0
    }
.sgc-toc-level {
    display: block;
    margin-left: 0
    }
.sgc-toc-level1 {
    display: block
    }
.sgc-toc-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center
    }
.pcalibre:link {
    text-decoration: none
    }
